@model IEnumerable<Biblioteca.Models.Emprestimo>

@{
    ViewBag.Title = "Emprestimo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@RenderPage("~/Views/Shared/_Menu.cshtml")

<h2>Empréstimos</h2>

<h4>Lista dos empréstimos da biblioteca: </h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDevolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.EmprestimoID }, new { @class = "btItem" })
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhe", new { id = item.EmprestimoID }, new { @class = "btItem" })
            </td>
            <td>
                @Html.ActionLink("Excluir", "Excluir", new { id = item.EmprestimoID }, new { @class = "btItem" })
            </td>
            @if (string.IsNullOrEmpty(item.DataDevolucao.ToString()))
            {
                <td>
                    @Html.ActionLink("Devolver", "Devolver", new { id = item.EmprestimoID }, new { @class = "btItem" })
                </td>
            }
        </tr>
    }

</table>
